h1 {
    text-align: center;
    color:#006600;
}
#_YeuCau {
    color: #0000FF;
}
#aloalo{
    text-align: center;
    color: #FF3399;
    background-color: #FECFFD;
}
div{
    text-align: center;
    background-color: #FFFFCC;
}
#daylap1{
    color: #0000FF;
}
hr{
    width: 20%;
     text-align: center;
}
#daylap2{
    color: #FF3399;
}
#daylap3{
    color: #006600;
}

